*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }
  
body {

    background-color: #ffffff;
    color: #333;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0a2540;

  }
  
.logo {

    color: #fbbf24;
    font-size: 24px;
    font-weight: bold;

  }

.navbar nav a {

    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;

}

.navbar nav a:hover {

    color: #fbbf24;
    
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {

    font-size: 48px;
    margin-bottom: 15px;

}
  
.hero p {

    font-size: 18px;
    margin-bottom: 25px;

}
  
.hero button {

    padding: 12px 30px;
    background-color: #fbbf24;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}
  
.hero button:hover {

    background-color: #f59e0b;

}

.menu {

    padding: 60px;
    background-color: #f9fafb;

  }
  
.menu h2 {

    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;

}
  
.menu-items {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

}

 
.card {

    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;

}
  
.card h3 {

    margin-bottom: 10px;

}
  
.card span {

    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #16a34a;

}


.about, .contact {

    padding: 60px;
    text-align: center;

}
  
.about {

    background-color: #ffffff;

}
  
.contact {

    background-color: #0a2540;
    color: white;

}
  
.footer {

    background-color: #020617;
    color: white;
    text-align: center;
    padding: 15px;

}
  
@media (max-width: 768px) {

.navbar {

      flex-direction: column;

}
  
.navbar nav {

      margin-top: 15px;

}
  
.hero h1 {

      font-size: 32px;

}
  
.menu, .about, .contact {

      padding: 30px;

}

  }
  