*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }
  
body {

    background-color: #ffffff;
    color: #333;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0a2540;

  }
  
.logo {

    color: #fbbf24;
    font-size: 24px;
    font-weight: bold;

  }

.navbar nav a {

    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;

}

.navbar nav a:hover {

    color: #fbbf24;
    
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}